@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:ital,wght@1,300&display=swap");
.bg-blue {
  background-color: #1c92d2;
}

.navbar {
  background-color: #1c92d2;
  display: flex;
  justify-content: center;
  flex-direction: auto;
  justify-content: space-between;
}
.navbar img {
  width: 150px;
}
.navbar ul {
  display: flex;
  margin-bottom: 1rem;
  margin-top: auto;
}
.navbar ul li {
  list-style: none;
  margin-right: 10px;
}
.navbar ul li a {
  color: rgb(8, 7, 7);
  font-family: "Open Sans", sans-serif;
  font-size: 1.8em;
  padding: 10px;
  margin-bottom: 30px;
  text-decoration: none;
  border-radius: 20px;
}
.navbar ul li a:hover {
  cursor: pointer;
  color: rgba(241, 234, 232, 0.856);
}

.btn-bet, .btn-extend, .btn-brand {
  width: 100px;
  height: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-bet:hover, .btn-extend:hover, .btn-brand:hover {
  color: rgb(8, 7, 7);
  cursor: pointer;
}

.btn-brand {
  border-radius: 6px;
}

.navbar-toggler {
  background-color: #bd286c;
  height: 40px;
  width: 50px;
}

div header {
  grid-area: header;
  height: max-content;
  background: #1c92d2;
  border: solid 5px rgb(0, 255, 221);
  text-align: center;
  border-radius: 20px;
}

#gridMain, .promo {
  flex-wrap: wrap;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: max-content;
}

.card-btn {
  width: 100%;
  height: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #51abcb;
}
.card-btn:hover {
  color: rgb(8, 7, 7);
  cursor: pointer;
}

.btn-extend {
  border-radius: 6px;
}

/*Cards*/
.contenido-card .card {
  margin: auto;
  gap: 10px;
  font-size: 1.8em;
  line-height: 1.4em;
  color: rgb(8, 7, 7);
  padding: 10px 20px;
}
.contenido-card .card .card {
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}
.contenido-card .card .card h3 {
  margin-bottom: 15px;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card img {
  width: 100%;
}

.contenido-card {
  padding: 15px;
  text-align: center;
}

h1 {
  font-size: 2em;
  line-height: 1.4em;
  color: rgb(8, 7, 7);
  padding: 10px 20px;
  text-align: center;
  justify-content: center;
}

.flex {
  display: flex;
  margin: 10px;
  padding: 10px;
  flex-wrap: nowrap;
  gap: 20px;
}
.flex .flex img {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* PRODUCTOS */
.producto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1c92d2;
  border: solid 2px;
}

.card-btn button {
  background-color: #51abcb;
}

/* PROCIONES */
.promo img {
  border-radius: 5px;
}

/* MARCAS */
#gridMain img {
  border-radius: 10px;
}
#gridMain img:hover {
  cursor: pointer;
}

footer {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px 0;
  background-color: #1c92d2;
}

@media (max-width: 480px) {
  nav ul li a {
    font-size: 1.8em;
  }
  .flex {
    width: 100%;
    flex-wrap: wrap;
  }
  .logo {
    width: 50px;
  }
  form {
    width: 100%;
  }
}
/* tablet */
@media (min-width: 481px) and (max-width: 768px) {
  nav ul li a {
    font-size: 1.8em;
  }
  .card figure img {
    width: 100%;
  }
  .logo {
    width: 100px;
  }
}
.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 300%;
  animation: cambio 20s infinite alternate;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  min-height: 500px;
  max-height: 300px;
  max-width: 100%;
  object-fit: cover;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
}
.bg-blue {
  background-color: #1c92d2;
}

/*# sourceMappingURL=main.css.map */
