@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:ital,wght@1,300&display=swap");
.bg-blue {
  background-color: #1c92d2;
}

.navbar {
  background-color: #1c92d2;
  display: flex;
  justify-content: center;
  flex-direction: auto;
  justify-content: space-between;
}
.navbar img {
  width: 150px;
}
.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar ul li {
  list-style: none;
  margin: 0 20px;
  transition: 0.5s;
}
.navbar ul li a {
  display: block;
  color: rgb(8, 7, 7);
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  padding: 4px;
  margin-bottom: 30px;
  text-decoration: none;
  border-radius: 20px;
}
.navbar ul li a:hover {
  cursor: pointer;
  color: rgb(212, 76, 151);
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

div header {
  grid-area: header;
  height: max-content;
  background: #1c92d2;
  border: solid 5px rgb(0, 255, 221);
  text-align: center;
  border-radius: 20px;
}

.destacado, .card-btn {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #bd286c;
}
.destacado:hover, .card-btn:hover {
  color: rgb(8, 7, 7);
  cursor: pointer;
}

.style {
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #252525;
}
.style:hover {
  color: rgb(8, 7, 7);
  cursor: pointer;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  justify-content: center;
  margin: 20px;
  padding-top: 10px;
}

/* inicio */
* {
  margin: 0;
  padding: 0;
}

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 10px;
}

#galeria img {
  width: 100%;
  height: 300px;
}
#galeria img:hover {
  border: 5px solid #fff;
}

.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #e9f5f9;
}

.containerProductos {
  padding: 20px;
  margin: 20px;
  border-radius: 20 50px;
}

.card-body {
  width: 100%;
}

.card:hover {
  transform: translateY(-3%);
}

.card {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.text {
  font-size: 1em;
}

/* INICIO */
/* PRODUCTOS */
.producto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.producto h5 {
  font-size: 1em;
}

.card-body {
  font-size: 1em;
  text-align: center;
  line-height: 1.2;
}

.card-btn button {
  background-color: #51abcb;
}

.destacado {
  width: 100%;
  border-radius: 10px;
  gap: 20px;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
  font-size: "Open Sans", sans-serif, 1.8em;
  padding: 10px;
}

/* PROCIONES */
/* MARCAS */
.marca {
  width: 100%;
  padding: 10px;
  margin: 20px;
  margin-top: 20px;
}
.marca .card-body {
  padding: 5px;
}
.marca .card-body .card-text {
  font-size: 1.5em;
  line-height: 1.2em;
}

.titulo h1 {
  text-align: center;
  margin: 20px;
  background-color: rgba(245, 94, 145, 0.9333333333);
}

/* CONTACTOS */
.form {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #a8d5e5;
}

.style .card {
  width: 100%;
  gap: 20px;
}

footer {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px 0;
  background-color: #1c92d2;
}

.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 300%;
  animation: cambio 20s infinite alternate;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  min-height: 500px;
  max-height: 300px;
  max-width: 100%;
  object-fit: cover;
}

@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
}
.bg-blue {
  background-color: #1c92d2;
}

.card-btn, .destacado {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #bd286c;
}
.card-btn:hover, .destacado:hover {
  color: rgb(8, 7, 7);
  cursor: pointer;
}

.style {
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #252525;
}
.style:hover {
  color: rgb(8, 7, 7);
  cursor: pointer;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  justify-content: center;
  margin: 20px;
  padding-top: 10px;
}

/*mobile device */
@media (max-width: 480px) {
  nav ul li a {
    font-size: 1.5em;
  }
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img {
    width: 200px;
    height: 200px;
  }
  .promo {
    display: flex;
  }
  .card-body {
    font-size: 1em;
  }
  .logo {
    width: 20px;
  }
  form {
    width: 100%;
  }
}
/* tablet */
@media (min-width: 481px) and (max-width: 768px) {
  .img {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
  }
  h1 {
    font-size: 2.5em;
  }
  .logo {
    width: 20px;
  }
}
/* Desktop */
@media (min-width: 768px) {
  .image {
    height: 400px;
    width: 400px;
  }
}

/*# sourceMappingURL=main.css.map */
