@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:ital,wght@1,300&display=swap");
.bg-blue {
  background-color: #1c92d2;
}

.navbar {
  background-color: #1c92d2;
  display: flex;
  justify-content: center;
  flex-direction: auto;
  justify-content: space-between;
}
.navbar img {
  width: 150px;
}
.navbar ul {
  display: flex;
  margin-bottom: 1rem;
}
.navbar ul li {
  list-style: none;
  margin-right: 10px;
}
.navbar ul li a {
  color: rgb(8, 7, 7);
  font-family: "Open Sans", sans-serif;
  font-size: 1.8em;
  padding: 10px;
  margin-bottom: 30px;
  text-decoration: none;
  border-radius: 20px;
}
.navbar ul li a:hover {
  cursor: pointer;
  color: rgba(241, 234, 232, 0.856);
}

.btn-bet, .btn-brand {
  width: 100px;
  height: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-bet:hover, .btn-brand:hover {
  color: rgb(8, 7, 7);
  cursor: pointer;
}

.btn-brand {
  border-radius: 6px;
}

.navbar-toggler {
  background-color: #bd286c;
  height: 40px;
  width: 50px;
}

div header {
  grid-area: header;
  height: max-content;
  background: #1c92d2;
  border: solid 5px rgb(0, 255, 221);
  text-align: center;
  border-radius: 20px;
}

.gridMain {
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 20px;
  width: 100%;
}

.destacado, .card-btn {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #bd286c;
}
.destacado:hover, .card-btn:hover {
  color: rgb(8, 7, 7);
  cursor: pointer;
}

.style {
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #252525;
}
.style:hover {
  color: rgb(8, 7, 7);
  cursor: pointer;
}

/* inicio */
/*Cards*/
section {
  padding: 20px;
  margin: 80px auto;
}
section .titulo {
  text-align: center;
  font-size: 1em;
}
section .row {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
section .row .row .col img {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.destacados {
  margin-top: 20px;
}

.card-body {
  font-size: 1.5em;
  margin: 10px;
}

.contenedorr {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  background-color: #bee0ec;
}

.cardd {
  margin: 10px;
  border-radius: 6px;
  cursor: default;
  transition: all 400ms ease;
  text-align: center;
  justify-content: center;
}

.cardd:hover {
  transform: translateY(-3%);
}

.cardd img {
  width: 100%;
  height: 250px;
}

.conten {
  text-align: center;
  font-size: 1em;
  margin-bottom: 15px;
}

.conten a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background-color: #22acc3;
  border-radius: 15px;
}

/* INICIO */
/* PRODUCTOS */
.producto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.producto h5 {
  font-size: 1.5em;
}

.tittle2 {
  padding: 10px;
  font-size: "Open Sans", sans-serif, 2.5em;
  text-align: center;
}

.card-group .card {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  gap: 20px;
}

.card-btn button {
  background-color: #51abcb;
}

.destacado {
  width: 100%;
  border-radius: 10px;
  gap: 20px;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
  font-size: "Open Sans", sans-serif, 1.8em;
  padding: 10px;
}

/* PROCIONES */
.contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
}

.flexx img {
  width: 100%;
  max-width: 100%;
  width: 100%;
  justify-content: center;
}

.promo img {
  border-radius: 5px;
}

/* MARCAS */
.gridMain {
  text-align: center;
}
.gridMain img {
  padding: 10px;
  border-radius: 10px;
}
.gridMain img:hover {
  cursor: pointer;
  color: #000;
}

.marca {
  width: 100%;
  padding: 10px;
  gap: 20px;
}
.marca .card-body {
  padding: 5px;
}
.marca .card-body .card-text {
  font-size: 1em;
  line-height: 1.8em;
}

.titulo h1 {
  text-align: center;
  margin: 20px;
  background-color: rgba(245, 94, 145, 0.9333333333);
}

/* CONTACTOS */
.form {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #a8d5e5;
}

.style .card {
  width: 100%;
  gap: 20px;
}

footer {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px 0;
  background-color: #1c92d2;
}

.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 300%;
  animation: cambio 20s infinite alternate;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  min-height: 500px;
  max-height: 300px;
  max-width: 100%;
  object-fit: cover;
}

@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
}
.bg-blue {
  background-color: #1c92d2;
}

.gridMain {
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 20px;
  width: 100%;
}

.card-btn, .destacado {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #bd286c;
}
.card-btn:hover, .destacado:hover {
  color: rgb(8, 7, 7);
  cursor: pointer;
}

.style {
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #252525;
}
.style:hover {
  color: rgb(8, 7, 7);
  cursor: pointer;
}

/*mobile device */
@media (max-width: 480px) {
  nav ul li a {
    font-size: 1.8em;
  }
  .contenedorr {
    flex-wrap: wrap;
  }
  .container {
    flex-wrap: wrap;
  }
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img {
    width: 200px;
    height: 200px;
  }
  .promo {
    display: flex;
    flex-wrap: wrap;
  }
  .card-body {
    font-size: 1.5em;
  }
  .logo {
    width: 20px;
  }
  form {
    width: 100%;
  }
}
/* tablet */
@media (min-width: 481px) and (max-width: 768px) {
  .img {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
  }
  .container {
    flex-wrap: wrap;
  }
  h1 {
    font-size: 2.5em;
  }
  .promo {
    flex-wrap: wrap;
  }
  .logo {
    width: 20px;
  }
}
/* Desktop */
@media (min-width: 768px) {
  .image {
    height: 400px;
    width: 400px;
  }
}

/*# sourceMappingURL=main.css.map */
