@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
/* selector de etiqueta */
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}
h1, h2{
  text-align: center;
  font-family: 'Roboto';
  font-size: 2em;
  padding: 10px;
}
h6{
  text-align: center;
  font-size: 2em;
  padding: 10px;
}
.tittle{
  text-align: center;
  font-size: 1em;
  background-color: black;
  color: white;
  padding: 10px;
}

/*    Navbar   */
.bg-orange{
  width: 100%;
  background-color:#1c92d2
}
.nav-item{
  font-family:'Roboto', sans-serif;
  font-size: 1.8em;
}
nav ul li a{
  font-size: 2rem;
  text-decoration: none;
}
nav ul li a:hover{
  background-color:rgba(212, 93, 248, 0.986)
}
 

/* Navbar---*/
/* Main card*/
.card-group{
  justify-content: center;
 margin: 20px;
 padding: 20px;
 gap: 10px;
 font-size: 1.8rem;
 border-radius: 6px;
}
.card-img-top{
 width: 100%;
 border-radius: 6px;
 overflow: hidden;
 background: #fff;
 box-shadow: 0px 1px 10px rgba(0, 0, 0, 0,2);
 cursor: default;
 transition: all 400ms ease;
}
.card-img-top:hover{
  box-shadow:  5px 5px 20px rgba(0, 0, 0, 0);
  transform: translatey(-3%);
}
.card-title{
  line-height: 1.5;
  color: #6a6a6a;
}
.card-text{
  margin-bottom: 15px;
}
/*----productos*/
.card{
  border: none;
  outline: none;
  background-color:#fff;
  border-radius: 20px;
  transition: transform .3s;
}
.card:hover{
  transform: translateY(-15px);
  transition: transform .3s;
}
.text1{
  font-size: 20px;
  color:black
}
.cost span{
  color: #fb3531;
  font-weight: bold;
  font-size: 20px;
}
.Adidas{
  background: #dc3545;
}
.bg-tnb{
  background-color:#5cc0f7
}
footer{
  width: 100%;
  padding: 20px;
  background-color:#1c92d2;
}


/*  */
.slider{
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.carousel slide{
  animation: cambio 20s infinite alternate;
}
@keyframes cambio {
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}
}





