@import url('link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet"');

$fontmain: 'Roboto', sans-serif;


$texTLg:3em;
$textSm:1em;

$h1:2em;
$h2:2em;
$h6:1.8em;

$a:2em;


p{
    background-color: $negro;
}
