
/*mobile device */
@media (max-width:480px){ 
    nav ul li a{
        font-size: $nav_a-size;
    }
    .card-body{
      font-size: $p-text;
    }
    .logo{
      width: 20px;
    }
    form{
      width: 100%;
      font-size: 20px;
      img{
        width: $w-100;
      }
    }
    
    .contenedor{
      flex-wrap: wrap;
      justify-content: center;
      
    }
    img{
      justify-content: center;
      margin: 20px;
    }
  }
  /* tablet */
@media(min-width:481px) and (max-width:768px){
  nav ul li a{
    font-size: $nav_a-size;
    width: $w-100;
}
.card .card-img{
    width:$w-100;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
    h1{
      font-size: $h1-size;
    }
    
    .logo{
      width: 20px;
    }
   form{
      img{
      width: $w-100;
      object-fit: cover;
     }
   }
  }
  /* Desktop */
@media(min-width:768px) and (max-width:1024px)
{
  .logo{
    width: 130px;
  }
    .img{
        height: min-content;
        width: 100%;
    }
}