
/*mobile device */
@media (max-width:480px){ 
    nav ul li a{
        font-size: $nav_a-size;
    }
    .carousel{
      width: 100%;
    }
    
    #galeria img{
      width:$w-70;
      display: flex;
      flex-direction: column;
      margin: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
   
    .card-body{
      font-size: $p-text;
      align-items: center;
    }
    .logo{
      width: 20px;
    }
    form{
      width: 100%;
      font-size: 20px;
      img{
        width: $w-100;
      }
    }
    
    .contenedor{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: auto;
      
    }
    img{
      justify-content: center;
    }
  }
  /* tablet */
@media(min-width:481px) and (max-width:720px){
  
  nav ul li a{
    font-size: $nav_a-size;
    width: $w-100;
}
.carousel{
  width: 100%;
}
#galeria img{
  width:$w-70;
  display: flex;
  flex-direction: column;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.card .card-img{
    width:$w-100;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
    h1{
      font-size: $h1-size;
    }
    
    .logo{
      width: 20px;
    }
   form{
      img{
      width: $w-100;
      object-fit: cover;
     }
   }
  }
  /* Desktop */
@media(min-width:721px) and (max-width:1024px)
{
  .logo{
    width: 130px;
  }
    .img{
        height: min-content;
        width: 100%;
    }
}