@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto:ital,wght@1,300&display=swap');

$fontMain:'Roboto', sans-serif;
$secundarFont:'Open Sans', sans-serif;
$h1-size: 3em, 4em, 5em;
$h2-size: 1.5em ,2.5em, 3em;
$nav_a-size:1.8em;
$P-tittle:1.8rem;
$p-size:2em;

//colors
$body-color:white;
$navbar-color: #1c92d2;
$textColors: rgb(8, 7, 7);
$footer-color:#1c92d2;
$txtDescripcion-color:black;
$txtfooter-color:black;


//
$textBold:700;
$textRegular:400;
$textLigth:300;

//sizing
$w-100:100%;
$w-50:50%;
$w-40:40%;
$w-20:20%;


