@import "../base/variables";

.div header{
    height: max-content;
    background: $navbar-color;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
     
  
}