@import "../base/variables";
@import "../base/mixin";
@import "../base/extends";
/*Cards*/
.contenido-card .card{
  $w-100: 100%;
  margin: auto;
  gap: 10px;
  .card {
    $w-100: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
    h3 {
     margin-bottom: 15px;
     $textColors: rgb(8, 7, 7);
      
            
    }

      
  }
      
}

.card:hover {
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
   transform: translateY(-3%);
}
.card img {
   width: $w-100;
   
}
.contenido-card {
   padding: 15px;
   text-align: center;
    
}

h1 {
  @include tittle(2em, 1.4em, $color:$textColors);
  text-align: center;
  justify-content: center;
  
}
.flex{
  display:flex;
  margin: 10px;
  padding: 10px;
  flex-wrap: nowrap;
  gap: 20px;
  font-size: $p-size;
      .flex img{
      width: $w-100;
    }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
/* PRODUCTOS */
.producto{
  @include display (center, center, column);
  background-color: map-get($map: $gama, $key: 'seis' );
  border: solid 2px;

}
  
.card-btn{
    @extend %btn-bet;
    button{
      background-color: map-get($map: $gama, $key:'tres');
    }
    }
  
    
  /* PROCIONES */

  .promo{
    @extend %mainContainer;
    img{
      border-radius: 5px;
    }
  }


  /* MARCAS */
  #gridMain{
    @extend %mainContainer;
    img{
    border-radius: 10px;
      &:hover{
        cursor: pointer;
      }
    }
  }