@import "../base/variables";
@import "../base/mixin";
@import "../base/extends";

/* inicio */
*{
  margin: 0;
  padding: 0;
}

#galeria .col-lg-4{
  margin: 0 !important;
  padding: 10px;
  
}
#galeria img{
  width: $w-100;
  height: 250px;
  object-fit: cover;


   &:hover{
    border: 5px solid #fff;
   }
}
h1{
  @extend %fontPrincipal !optional;   
}
.container{
  position: relative;
  width: $w-100;
  display: flex;
  flex-direction: column;
  
  }

.article-card-img{
    border: 5px solid white;
    border-radius: 30px;
    margin-top: calc(-48px - 5px);
    
    
  }

.card{
    text-align: center;
    font-size: $p;
    margin-bottom: 15px;
  }
  .card-body{
  text-align: center;
  line-height: 1.2;
  
    h3{
    margin: 0;
    margin-top: 1em;
    font-size: $p-text;
    margin-bottom: 0.5em;
    margin-top: 2em;
   }
    p{
      font-size: $p-text;
      margin-bottom: 2em;
      color: rgba(31, 74, 218, 0.705);
      font-weight: 700;
    }
  }
.card :hover{
 transform: translateY(-3%);
}


/* FIN INICIO */


/* PRODUCTOS */
.producto{
  @include display (center, center, column);
  width: $w-100;
  h3{
   font-size: $p-text;
  }
  
}
p{
  font-size: $p-text;
  margin-bottom: 2em;
  color: rgba(31, 74, 218, 0.705);
  font-weight: 700;
}
h4{
  font-size: $p-text;
      margin-bottom: 2em;
      color: rgba(31, 74, 218, 0.705);
      font-weight: 700;
}

.card-btn{
  @extend %btn-bet;
   
}
button{
  background-color: map-get($map: $gama, $key:'tres');
 
  a{
    text-decoration: none;
  }
}     

h2{
    text-align: center;
    font-size: $secundarFont,$fontSize;
    padding: 10px;       
  }
        
    /* PROCIONES */

    /* MARCAS */
.marca{
    width: $w-100;
    padding: 10px;
    margin: 20px;
    margin-top:  20px;
   
    .card-body{
      padding: 5px;
      .card-text{
      font-size: $p;
      line-height: 1.2em;
    }
   } 
   
  }
 
.titulo h1{
    text-align: center;
    margin: 20px;
    background-color: map-get($map: $gama, $key: 'quince' );
  }
  
   
    /* CONTACTOS */
  
.form{
      display: flex;
      text-align: center;
      justify-content: center;
      background-color: map-get($map: $gama, $key:'siete' ) ;
    }
.style {
      @extend %btn-bett;
        .card{
          width:$w-100;
          gap: 20px;
          
        }
         
    }
  
    /*========Error 404====*/

 .page_404{
      padding: 40px 0;
      background: #fff;
      font-family: $secundarFont;

        .page_404 img{
        width: $w-100;
      }
    }
    

.four_zero_four_bg{
      background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
      height: 400px;
      background-position: center;
 }

 .four_zero_four_bg h1{
      font-size: 80px;
 
}
.link_404{
  color: #fff !important;
  padding: 10px 20px;
  background-color: map-get($map: $gama, $key: 'seis');
  margin: 20px 0;
  border-radius: 10px;
  display: inline-block;
}
.contant_box_404{
  margin-top: -50px;
}
    