@import "../base/maps.scss";

.navbar{
    background-color:map-get($map:$gama, $key: 'seis');
    display: flex;
    justify-content: center;
    flex-direction: auto;
    justify-content: space-between;
    img{
        width: 150px;
    }
    ul{
        display: flex;
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            margin:0 20px;
            transition: 0.5s;
            a{
                display: block;
                color: $textColors;
                font-family: $secundarFont;
                font-size: $nav_a-size;
                padding: 4px;
                margin-bottom: 30px;
                text-decoration: none;
                border-radius: 20px;
            
                &:hover{
                    cursor: pointer;
                    color: rgb(212, 76, 151);
                }
            }
        }
    }
}

.nav-button{
display: flex;
align-items: center;
justify-content:center;
width: 64px;
height: 64px;

}