@import "../base/maps.scss";

.navbar{
    background-color:map-get($map:$gama, $key: 'seis');
    display: flex;
    justify-content: center;
    position: relative;
    img{
        width: 130px;
    }
    ul{
        display: flex;
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            margin:0 20px;
            transition: 0.5s;
            a{
                font-size: $nav_a-size; 
                color:rgb(15, 15, 15);
                text-decoration: none;
                line-height: 20px;
                position: relative;
                z-index: 1;
                display: inline-block;
                text-align: center;
                

                
            
            }
        }
    }
}


.nav-button{
display: flex;
align-items: center;
justify-content:center;
width: 64px;
height: 64px;

}